<div class="body">
  <div class="tekst">
    <h1>Ansøgning om støtte</h1>
    Ansøgning om støtte, skal foretages af en fagperson med tilknytning til den unge,
    <br>
    fx en studievejleder, eller underviser på skolen. <br><br>
    Fagpersonen kontakter en af foreningens to mentorer:
    <br><br>
    Steen Højvig<br>
    mobil 2466 9987<br>
    mail: shoe@rybners.dk
    <br><br>
    Mentorerne afklarer om der kan gives tilsagn om midler til konkrete ”leverancer”,
    <br>
    som udgangspunkt på op til kr. 3000,- kr.
    <br>
    Herefter aftales et møde mellem fagpersonen, eleven og foreningens mentor,
    <br>
    hvorefter de konkrete ”leverancer” købes til støttepersonen.
    <br>
    Som hovedregel kan der ikke uddeles kontanter.
    <br><br>
    Foreningen kan betale for overnatning, mad, tøj, transport og andre basale fornødenheder,
    <br>
    som er nødvendige for at fastholde eleven i uddannelse.
    <br>
    En elev kan maksimalt modtage en årlige støtte som ikke overstiger beløbsgrænsen
    <br>
    jf. LL 7 nr 22 (10.000,- kr. i 2019) i det støtte herover vil blive skattepligtig.
    <br>
  </div>
  <br>
</div>
