<div class="body">
  <div class="tekst">
    <h1>Hold-fast.nu</h1>
    <h2>Er en foreningen for fastholdelse af udsatte unge i uddannelse </h2>
    Hold-fast.nu er en almen nyttig forening med det formål at give akut økonomisk
    støtte til
    <br>
    fx overnatning, mad, tøj, transport, samt andre helt basale fornødenheder,
    som er nødvendige
    <br>
    for at fastholde eleven i uddannelse i Esbjerg kommune.
    <br><br>
    Foreningen vil fortrinsvis støtte unge på en af Esbjerg kommunes ungdomsuddannelser.
  </div>
</div>

