<div class="body">
  <div class="tekst">
    <h1>Vedtægter</h1>
    1. Navn. <br>
    1.1. Foreningens navn er Foreningen til fastholdelse af udsatte unge under uddannelse.<br>
    1.2. Foreningen har hjemsted i Esbjerg.
    <br><br>
    2. Formål.<br>
    2.1. Foreningens primære formål er at støtte udsatte unge enkeltpersoner socialt, som er <br>
    under uddannelse i Esbjerg kommune og som har behov for hjælp i en social vanskelig situation. <br>
    Der ydes ikke støtte til skole- og erhvervsuddannelse eller til studie rejser.<br>
    Foreningen er almen nyttig.
    <br><br>
    3. Midler og hæftelse.<br>
    3.1. Foreningens midler hidrører fra medlemskontingenter og tilskud fra diverse fonde. Desuden<br>
    kan midler fremskaffes ved diverse bidrag eller anden form for indtægt.<br>
    3.2. For foreningens forpligtelser hæfter alene foreningens formue og ikke enkeltpersoner.
    <br><br>
    4. Medlemskab<br>
    4.1. Som medlemmer af foreningen optages såvel enhver myndig person som institutioner, firmaer<br>
    og foreninger. Der kan desuden tegnes et familiemedlemskab.<br>
    4.2. Medlemskab tegnes for et kalenderår ad gangen.<br>
    4.3. Et medlemskab berettiger til en stemme på generalforsamlingen, et familiemedlemskab<br>
    berettiger til 2 stemme.
    <br><br>
    5. Kontingent<br>
    5.1. Kontingentet fastsættes for et år ad gangen af foreningens generalforsamling.
    <br><br>
    6. Regnskab og revision<br>
    6.1. Foreningens regnskabsår er kalenderåret.<br>
    6.2. Regnskab revideres af en af generalforsamlingen valgt revisor.
    <br><br>
    7. Generalforsamling<br>
    7.1. Generalforsamlingen er den højeste myndighed i anliggender vedrørende fastholdelse <br>
    af udsatte unge under uddannelse.<br>
    7.2. Generalforsamlingen afholdes en gang årligt inden udgangen af marts måned.<br>
    7.3. Til generalforsamlingen indkaldes foreningens medlemmer med en frist på mindst 3 uger.<br>
    7.4. Forslag, der ønskes behandlet på generalforsamlingen, skal være foreningens sekretær i<br>
    hænde senest 2 uger før generalforsamlingens afholdelse.<br>
    7.5. Dagsorden for den ordinære generalforsamling skal indeholde:<br><br>
    1. Valg af dirigent.<br>
    2. Bestyrelsens beretning<br>
    3. Godkendelse af det reviderede regnskab.<br>
    4. Fastsættelse af kontingent<br>
    6. Behandling af indkomne forslag<br>
    7. Valg af medlemmer til bestyrelsen<br>
    8. Valg af revisor<br>
    9. Eventuelt.<br><br>
    7.6. På generalforsamlingen træffes alle beslutninger ved simpelt stemmeflertal, bortset fra<br>
    vedtægtsændringer jf. pkt. 10 og opløsning af foreningen jf. pkt. 11.<br>
    7.7. Ekstraordinær generalforsamling afholdes, når bestyrelsen finder anledning hertil, eller når<br>
    mindst 1/5 af foreningens medlemmer skriftligt fremsætter krav herom.<br>
    7.8. Ved indtrædende ledighed i valgperiodens løb supplerer bestyrelsen sig selv.
    <br><br>
    8. Bestyrelse.<br>
    8.1. Foreningens daglige arbejde varetages af en bestyrelse på 3-7 medlemmer valgt på generalforsamlingen.<br>
    8.2. Valgperiode for bestyrelsen er 2 år, således at ca. halvdelen er på valg hvert år.<br>
    8.3. Bestyrelsen konstituerer sig umiddelbart efter generalforsamlingen.<br>
    8.4. Der vælges blandt medlemmerne af bestyrelsen 1 formand.<br>
    8.5. Beslutninger træffes i bestyrelsen ved simpelt flertal. Ved stemmelighed er formandens<br>
    stemme afgørende.<br>
    8.6. Bestyrelsen kan udpege medlemmer til at varetage praktiske opgaver som kasserer/<br>
    regnskabsfører og sekretær/projektmedarbejder. De udpegede medlemmer deltager i<br>
    givet fald i bestyrelsesmøder med taleret, men uden stemmeret. Herudover kan bestyrelsen<br>
    indkalde medlemmer til at udføre konkrete ad hoc opgaver.<br>
    8.7. Bestyrelsen fastsætter selv sin forretningsorden.
    <br><br>
    9. Tegningsregel.<br>
    9.1. Foreningen tegnes af formanden eller kassereren. Disse personer kan således tegne foreningen hver for sig.<br>
    10. Vedtægtsændringer.<br>
    10.1. Ændringer af vedtægterne kræver vedtagelse på generalforsamling med mindst 2/3 af de afgivne stemmer.<br>
    10.2. Ændringsforslag skal fremgå af dagsordenen for generalforsamlingen.
    <br><br>
    11. Opløsning af foreningen for udsatte unge under uddannelse  .<br>
    11.1. Forslag om foreningens opløsning kan kun vedtages på en i dette øjemed særlig indkaldt<br>
    generalforsamling, hvortil foreningens medlemmer med brev/mail indkaldes med mindst 3 ugers varsel.<br>
    11.2. Til forslagets vedtagelse kræves, at mindst 5/6 af de afgivne stemmer er for opløsningen.<br>
    11.3. I tilfælde af foreningens opløsning tilfalder foreningens midler en eller flere foreninger, der<br>
    støtter hjemløse og socialt udsatte i Esbjerg kommune.<br>
  </div>
  <br>
</div>
