<div class="body">
  <div class="tekst">
    <h1>Bestyrelsen består af følgende:</h1>
    <div class="titel">
    Formand:<br>
    Kasserer/Revisor:<br>
    Menig medlem:<br>
    Menig medlem:<br>
    Menig medlem:<br>
    Menig medlem:<br>
    </div>
    <div class="names">
      Anette Fuglkjær<br>
      Claus Grøndberg<br>
      Steen Højvig<br>
      Johanne Gregersen<br>
    </div>
    <div class="contact">
      Alt kontakt bedes rettes til Formand: <br><br>
      Anette Fuglkjær<br>
      Mail:   afuglkjaer@gmail.com<br>
      Mobil:  2345 5147<br>
    </div>
  </div>
<!--  <div class="billeder">-->
<!--    <div class="billede">-->
<!--    Formand-->
<!--  </div>-->
<!--    <div class="billede">-->
<!--    Næstformand-->
<!--    </div>-->
<!--    <div class="billede">-->
<!--    Kasser-->
<!--    </div>-->
<!--    <div class="billede">-->
<!--    Menigmedlem-->
<!--    </div>-->
<!--    <div class="billede">-->
<!--    Menigmedlem-->
<!--    </div>-->
<!--    <div class="billede">-->
<!--      Suppleant-->
<!--    </div>-->
<!--    <div class="billede">-->
<!--      Suppleant-->
<!--    </div>-->
<!--    <div class="billede">-->
<!--      Revisor-->
<!--    </div>-->
<!--    <div class="billede">-->
<!--      Revisor-->
<!--    </div>-->
<!--  </div>-->
</div>
