<div class="body">
  <div class="tekst">
    <h1>Medlemskab</h1>
    Hvis du ønsker at melde dig ind i foreningen og være med til at give
    akut økonomisk støtte til unge på uddannelse i Esbjerg Kommune
    kan du gøre som følgende:
    <br><br>
    Betal gennem:
    <br>
    -	Bankoverførsel til kontonummer: 5385 0249541
    <br>
    -	Mobil Pay til: 36 94 20
    <br><br>
    100 kr/år – for et enkelt medlemskab
    <br>
    200 kr. /år – for et familiemedlemsskab
    <br>
    500 kr./år – for et firmamedlemsskab
    <br>  <br>
    Ved indbetalingen bedes du oplyse din mail-adresse.
    <br>
    Oplyses ingen mail-adresse, betragtes indbetalingen som en donation til foreningen.
    <br><br>
    Indbetalinger i perioden januar-oktober dækker medlemskontingent for indbetalingsåret.
    <br>
    Indbetalinger i perioden november – december dækker medlemsskabet for den efterfølgende kalenderår.
    <br><br>
    I december måned sender vi en mail med opfordring til at forny medlemsskabet for efterfølgende kalenderår.
  </div>
  <br>
</div>
